.aboutme {
    position: relative;
    text-align: left;
    padding-left:300px;
    font-size: 1.0vw;
    top: 15%;
    overflow: auto;
    color: rgb(175, 175, 175);
    margin-bottom: -10%;
    width: 65%;
  }

  .title{
    font-size: 2vw;
    padding-bottom: 20px;
  }




