@media screen and (min-width:745px) {
    .resume {
        position: relative;
        text-align: left;
        padding-left:300px;
        font-size: 2vh;
        top: 15%;
        overflow: auto;
        color: rgb(175, 175, 175);
        margin-bottom: -10%;
        width: 100%;
        font-family: 'Crimson Text', serif;
      }
    
      .title{
        font-size: 4.0vh;
        padding-bottom: 20px;
      }
    }
    
    @media screen and (max-width:745px) {
      .resume {
        position: relative;
        text-align: left;
        padding-left:100px;
        font-size: 2vh;
        top: 15%;
        overflow: auto;
        color: rgb(175, 175, 175);
        margin-bottom: -10%;
        width: 100%;
        font-family: 'Crimson Text', serif;
      }
    
      .title{
        font-size: 4.0vh;
        padding-bottom: 20px;
      }
    }


    @media screen and (max-width:1325px){
        .resumepdf{
            height: 800px;
            width:800px
        }
    }

    


    @media screen and (max-width:500px){
        .resumepdf{
            height: 500px;
            width:400px
        }
    }



   
    .resume {
      max-height: 90vh; 
      overflow-y: scroll; 
    }