.image-position {
    display: flex;
    justify-content: left;
    width: 100%;
    margin-top: 4%;
    margin-left: 29%;
    height: auto;
  }

  .name{
    margin-top: 4%;
    color: #aeaeae;
    font-size: 25px;
    white-space: pre-line;
    text-align: left;
    font-family: 'Darker Grotesque', sans-serif;
  }

  .name:hover {
    color: #E6E6E6;
  }

  .intro{
    margin-top: 0%;
    color: #888888;
    font-size: 12px;
    white-space: pre-line;
    text-align: left;
    font-family: 'Coming Soon', cursive;
  }

  .intro:hover{
    color: #E6E6E6;
  }

  .aboutmetab,.resumetab, .projecttab, .contacttab, .papertab{
    margin-top: 0%;
    color: #888888;
    font-size: 15px;
    white-space: pre-line;
    text-align: left;
    font-family: 'Cutive Mono', monospace;
  }

  .aboutmetab:hover,.resumetab:hover, .projecttab:hover, .contacttab:hover, .papertab:hover{
    color: #E6E6E6;
  }

  .contactinfo{
    text-align: center;
  }
  .githublink, .twitterlink, .linkedinlink, .emailink{
    color: #888888;
    padding-left: 10px;
  }
  .githublink:hover, .twitterlink:hover, .linkedinlink:hover, .emailink:hover{
    color: #E6E6E6;
  }
  .createdby{
    margin-top: 4%;
    color: #E6E6E6;
    font-size: 12px;
    white-space: pre-line;
    text-align: center;
    margin-bottom: -10%;
    font-family: 'Sacramento', cursive;
  }
  
  .heart{
    color:rgb(241, 74, 74);
  }

  
  .DBSsidebar{
    opacity:.9;
  }

 