.spotifytitle{
  position: relative;
  text-align: left;
  padding-left:300px;
  margin-top: 15vh;
  font-size: 2.0vw;
  top: 120%;
  overflow: auto;
  color: rgb(175, 175, 175);
  margin-bottom: -10%;
  width: 65%;
  font-family: 'Crimson Text', serif;
}

.spotifytext{
  position: relative;
  text-align: center;
  padding-left:300px;
  padding-top: 25vh;
  font-size: 1.0vw;
  overflow: auto;
  color: rgb(175, 175, 175);
  width: 65%;
  font-family: 'Crimson Text', serif;
  
}

.slink{
  font-size: 1.5vw;
  color: #309a36;
}

.slink:hover{
  color: #0dff00;
}
  .spotifyimage{
    width: 25vh;
    height: auto;
  
}
  .artandtitle{
    font-size: 3vw;
    position: relative;
    text-align: left;
    padding-left:300px;
    margin-top: 25vh;
    overflow: auto;
    color: rgb(175, 175, 175);
    font-family: 'Crimson Text', serif;
  }

 